@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Did i know what the fuck am i doing? Absolutely not. So let's see if it work well i guess?</p>
    <p>Bon plus sérieusement, euh je crois on est la pour vendre des bagnoles, ou un truc comme ça.</p>
    <p>Bref zoubi zoubi bonne visite :)</p>
</div>
