@page
@model ProjetSolutionSecure.Views.Shared.Error401Model
@{
    ViewData["Title"] = "Unauthorized";
}

<h1>Unauthorized</h1>

<p>Vous n'avez pas les droits pour accéder à cette ressource.</p>
